* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
}
@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/glacial-indifference/GlacialIndifference-Bold.otf') format('woff2'),
         url('../fonts/glacial-indifference/GlacialIndifference-Regular.otf') format('woff2'),
         url('fonts/GlacialIndifference.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  /* @font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica-now-font-family-1731048673-0/helveticanowtext-black-demo.ttf') format('woff2'),
         url('../fonts/helvetica-now-font-family-1731048673-0/helveticanowtext-black-demo.ttf') format('woff'),
         url('../fonts/helvetica-now-font-family-1731048673-0/helveticanowtext-black-demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */
  
  /* @font-face {
    font-family: 'Helvetica Now';
    src: url('../fonts/helvetica-now-font-family-1731048673-0/helveticanowtext-bold-demo.ttf') format('woff2'),
         url('../fonts/helvetica-now-font-family-1731048673-0/helveticanowtext-bold-demo.ttf') format('woff'),
         url('../fonts/helvetica-now-font-family-1731048673-0/helveticanowtext-bold-demo.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  } */
  
  @font-face {
    font-family: 'Helvetica Now';
    src: url('fonts/HelveticaNeue-Italic.woff2') format('woff2'),
         url('fonts/HelveticaNeue-Italic.woff') format('woff'),
         url('fonts/HelveticaNeue-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

.header-image{
    background-image: url(../assets/images/TopBackground2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* All sections starts here */

.section-container {
    width: 98%;
    margin: 20px auto;
    padding: 5px;
}

.max-width {
    width: 100%;
}

/* All sections ends here */

.mission-section {
    display: flex;
}

.section-content-items {
    display: flex;
    justify-content: space-between;
}

.section-content-first-container {
    width: 50%;
}

.section-content-item-1-first-content {
   font-size: 3rem;
   font-weight: bold;
}

.content-heading {
    font-size: 5rem;
    font-weight: bold;
    color: red;
}

.content-paratext {
    font-size: 1.7rem;
    font-weight: bold;
}

.section-content-first-container-img {
    height: 150px;
    background-image: url(../assets/images/dummyImages.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.section-content-item-1-second-content a {
    color: #ff0000;
    text-decoration: none;
}

.section-content-item-1-second-content a:hover {
    text-decoration: underline;
}

.section-content-second-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 4rem;
}

.second-content-container {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
}

.second-content-container img {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
}

.second-container-upper-container {
    width: 550px;
    min-height: 200px;
    margin-top: 5rem;
    background-image: url(../assets/images/globes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.text-container {
    width: 360px;
    background-color: #ff0000;
    padding: 25px;
    border-radius: 3rem;
    color: #fff;
    margin-left: 18px;
    line-height: 25px;
    font-weight: bold;
}

.text-container a {
    color: #fff;
}

.upper-text {
    font-size: 3rem;
    font-weight: bold;
}

.lower-text {
    font-size: 15px;
    font-weight: bold;
}

.img-text {
    margin-left: 4.1rem;
}

.second-lower-text {
    font-size: 1rem;
    font-weight: bold;
}

/* Mission section ends here */

/* Programs section starts here */

.programs-section {
    box-shadow: 0px -4px 2px 0px rgb(252, 252, 252);
}

.programs-section-container {
    width: 97%;
    margin: 3rem auto;
}

.programs-section-container-heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 3rem;
}

.programs-section-container-first-row-items {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

.programs-section-container-first-row-items-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 300px;
    max-height: 248px;
    padding: 10px;
}

.programs-section-container-paragraph-text {
    display: flex;
    height: 150px;
}

.programs-section-container-first-row-items-1:nth-child(-n+4) {
    position: relative;
  }
  
  .programs-section-container-first-row-items-1:nth-child(-n+4)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%; 
    background-color: rgb(209, 209, 209);
  }
  

.item-top-image {
    min-width: 100px;
    min-height: 100px;
    border-radius: 5px;
}

.text-heading {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.heading-black-text {
    color: #000;
}

/* Programs Images */
.programs-section-container-first-row-items-first-image {
    background-image: url(../assets/images/);
}

/* Programs section ends here */

.achievement-section-container {
    display: flex;
    justify-content: space-around;
}

.achievement-section-container-image{
    width: 55%;
    background-image: url(../assets/images/ProgramsImage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.achievement-section-container-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.achievement-section-container-text-heading {
    font-size: 5rem;
    text-align: right;
    font-weight: bold;
    line-height: 6rem;
    margin-bottom: 2rem;
}

.achievement-section-container-text-paragraph {
    font-size: 1.5rem;
    text-align: justify;
}

.red-text {
    color: red;
    font-weight: bold;
}
/* Achievement section ends here */

/* Testimonial section starts here */
.testimonial {
    margin-top: 5rem;
}

.testimonial-section-container {
    display: flex;
    flex-direction: column;
}

.testimonials {
    width: 100%;
    display: flex;
    padding: 20px;
}

.testimonial-image-container {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.testimonial-content {
    width: 90%;
    
}

.testimonial-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: orangered;
}

.testimonial-1 {
    background-color: #f8d3d3;
}

.testimonial-2 {
    background-color: rgb(228, 228, 228);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.testimonial-3 {
    background-color: #f8d3d3;
}

.testimonial-image-1 {
    background-image: url(../assets/images/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid red;
}

.testimonial-image-2 {
    position: relative;
    background-image: url(../assets/images/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid red;
}

.testimonial-image-3 {
    background-image: url(../assets/images/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid red;
}

.testimonial-middle-image {
    display: flex;
    justify-content: flex-end;
}

.testimonial-heading {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.testimonial-paragraph {
    display: flex;
    flex-direction: column;
}

.quote {
    margin: 0 auto;
    font-size: 1.7rem;
    font-weight: bold;
    font-style: italic;
}

#quote {
    color: red;
    width: 5rem;
    height: 9rem;
    font-size: 15rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lower-para-text {
    margin: 20px auto;
    font-size: 1.2rem;
}

.testimonial-name {
    font-weight: bold;
}
/* Testimonial section ends here */

/* Impact section starts here */
.impact {
    margin-top: 4rem;
}

.impact-container {
    display: flex;
    justify-content: space-around;
}

.impact-text-content {
    width: calc(60% - 10px);
}
.impact-map {
    width: calc(35% - 10px);
}

.impact-item-first-row {
    display: flex;
    gap: 30px;
}
.impact-item-second-row {
    display: flex;
    margin-top: 4rem;
    gap: 30px;
}

.impact-item {
    width: 15rem;
}

.impact-number {
    font-size: 3rem;
    font-weight: bold;
}

.impact-personnel {
    font-size: 1.5rem;
}

.impact-para-text {
    font-size: 1rem;
    width: 200px;
}

.impact-map {
    background-image: url(../assets/images/map.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Impact section ends here */

/* Gift section starts here */

.gift-section {
    background-image: url(../assets/images/gift.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    margin-top: 4rem;
}

.gift-content {
    width: 40%;
    color: #fff;
    margin: 8rem 150px;
    font-size: 2.5rem;
    font-weight: bold;
}

.gift-content a {
    color: #fff;
    text-decoration: none;
}

.give-today-container {
    background-color: #ff0000;
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px;
}

.gift-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 32px;
}

/* News and Insights Section Starts here */
.news-and-insights {
    height: auto;
}
.news-content {
    width: 100%;
    margin-top: 10px;
    line-height: 1.5rem;
}

.news-heading {
    font-weight: bold;
    font-size: 1.3rem;
}

.section-item {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.news-section-row {
    display: flex;
    justify-content: space-between;
    height: 70vh;
}

.second-row {
    margin-top: 7rem;
}

.section-first-item,
.section-second-item,
.section-third-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.media-container {
    height: 315px;
}

.img-media-container-1 {
    width: 400px;
    background-image: url(../assets/images/10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-media-container-2 {
    width: 400px;
    background-image: url(../assets/images/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-media-container-3 {
    width: 400px;
    background-image: url(../assets/images/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.news-link, .news-link a {
    color: red;
    margin-top: 10px;
}

.section-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    font-family: 'Glacial Indifference';
}

/* News and Insights section ends here */

/* Partners and Sponsors Section starts here */
.partners-section {
    margin-top: 5rem;
}

.partner-heading {
    margin-bottom: 1rem;
    width: 50%;
}

.partners-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .images-first-row, .images-second-row {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  .partners-image-container {
    max-width: 200px;
    width: 100%;
    height: auto;
    object-fit: contain;  /* Ensure images maintain aspect ratio */
    transition: transform 0.3s ease-in-out;
  }
  
  .partners-image-container:hover {
    transform: scale(1.5);
  }  