* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-image{
    background-image: url(../assets/images/TopBackground2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* All sections starts here */

.section-container {
    width: 98%;
    margin: 20px auto;
    padding: 5px;
}

/* All sections ends here */

.mission-section {
    border: 2px solid red;
    display: flex;
}

.section-content-items {
    display: flex;
    justify-content: space-between;
}

.section-content-first-container {
    width: 50%;
}

.upper-content {
    /* margin-left: 20px; */
}

.section-content-item-1-first-content {
   font-size: 3rem;
   font-weight: bold;
}

.content-heading {
    font-size: 5rem;
    font-weight: bold;
    color: red;
}

.content-paratext {
    font-size: 1.7rem;
    font-weight: bold;
}

.section-content-first-container-img {
    flex: 1;
    height: 150px;
    background-image: url(../assets/images/dummyImages.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
}

.section-content-item-1-second-content a {
    color: #ff0000;
    text-decoration: none;
}

.section-content-item-1-second-content a:hover {
    text-decoration: underline;
}

.section-content-second-container {
    border: 2px solid orangered;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.second-container-upper-container {
    border: 2px solid palevioletred;
    width: 550px;
    min-height: 200px;
    background-image: url(../assets/images/globes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.upper-text {
    font-size: 3rem;
    font-weight: bold;
}

.lower-text {
    font-size: 15px;
    font-weight: bold;
}

.img-text {
    margin-left: 4.1rem;
}

.second-lower-text {
    font-size: 1rem;
    font-weight: bold;
}

/* Mission section ends here */

/* Programs section starts here */

.programs-section-container-heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 3rem;
}

.programs-section-container-first-row-items {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

.programs-section-container-first-row-items-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 300px;
    min-height: 230px;
    padding: 10px;
}

.programs-section-container-paragraph-text {
    display: flex;
    height: 150px;
    /* margin: 0px; */
}

.programs-section-container-first-row-items-1:nth-child(-n+4){
    border-right: 1px solid rgb(233, 233, 233);
    border-right-style:outset;
}

.item-top-image {
    min-width: 100px;
    min-height: 100px;
    background-color: #000;
    border-radius: 5px;
}

.text-heading {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.heading-black-text {
    color: #000;
}

.achievement-section-container {
    display: flex;
    justify-content: space-around;
}

.achievement-section-container-image{
    width: 55%;
    background-image: url(../assets/images/ProgramsImage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.achievement-section-container-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.achievement-section-container-text-heading {
    font-size: 5rem;
    text-align: right;
    font-weight: bold;
    line-height: 6rem;
    margin-bottom: 2rem;
}

.achievement-section-container-text-paragraph {
    font-size: 1.5rem;
    text-align: justify;
}

.red-text {
    color: red;
    font-weight: bold;
}
/* Achievement section ends here */

/* Testimonial section starts here */
.testimonial-section-container {
    display: flex;
    flex-direction: column;
}

.testimonials {
    width: 100%;
    display: flex;
    padding: 20px;
}

.testimonial-image-container {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.testimonial-content {
    width: 90%;
    
}

.testimonial-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: orangered;
}

/* .testimonial-1,
.testimonial-2,
.testimonial-3 {
    width: 80%;
} */

.testimonial-1 {
    background-color: #f8d3d3;
}

.testimonial-2 {
    background-color: rgb(228, 228, 228);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.testimonial-3 {
    background-color: #f8d3d3;
}

.testimonial-image-1 {
    background-image: url(../assets/media/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid red;
}

.testimonial-image-2 {
    position: relative;
    background-image: url(../assets/media/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid red;
}

.testimonial-image-3 {
    background-image: url(../assets/media/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid red;
}

.testimonial-middle-image {
    display: flex;
    justify-content: flex-end;
}

.testimonial-heading {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.testimonial-paragraph {
    display: flex;
    flex-direction: column;
}

.quote {
    margin: 0 auto;
    font-size: 1.7rem;
    font-weight: bold;
    font-style: italic;
}

#quote {
    color: red;
    width: 5rem;
    height: 9rem;
    font-size: 15rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lower-para-text {
    margin: 20px auto;
    font-size: 1.2rem;
}

.testimonial-name {
    font-weight: bold;
}
/* Testimonial section ends here */

/* Impact section starts here */
.impact-container {
    display: flex;
    justify-content: space-around;
}

.impact-text-content {
    width: calc(60% - 10px);
}
.impact-map {
    width: calc(35% - 10px);
}

.impact-item-first-row {
    display: flex;
    gap: 30px;
}
.impact-item-second-row {
    display: flex;
    margin-top: 4rem;
    gap: 30px;
}

.impact-item {
    width: 15rem;
}

.impact-number {
    font-size: 3rem;
    font-weight: bold;
}

.impact-personnel {
    font-size: 1.5rem;
}

.impact-para-text {
    font-size: 1rem;
    width: 200px;
}

.impact-map {
    background-image: url(../assets/images/map.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Impact section ends here */
/* Gift section starts here */
.gift-container {
    background-image: url(../assets/images/gift.png);
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    position: relative;
}

.gift-para-text {
    width: 600px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 10rem;
    left: 10rem;
}

.give-today-container {
    width: 200px;
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 25rem;
    left: 10rem;
    padding: 20px;
    font-weight: bold;
}

/* News and Insights Section Starts here */
.news-and-insights {
    height: auto;
}

.section-item {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.news-section-row {
    display: flex;
    justify-content: space-between;
    height: 70vh;
}

.second-row {
    margin-top: 2rem;
}

.section-first-item,
.section-second-item,
.section-third-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.media-container {
    height: 315px;
}

.img-media-container-1 {
    width: 400px;
    background-image: url(../assets/images/10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-media-container-2 {
    width: 400px;
    background-image: url(../assets/images/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-media-container-3 {
    width: 400px;
    background-image: url(../assets/images/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.news-link, .news-link a {
    color: red;
    margin-top: 10px;
}

.section-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

/* News and Insights section ends here */

/* Partners and Sponsors Section starts here */
  .partners-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .images-first-row, .images-second-row {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  .partners-image-container {
    max-width: 200px;
    width: 100%;
    height: auto;
    object-fit: contain;  /* Ensure images maintain aspect ratio */
    transition: transform 0.3s ease-in-out;
  }
  
  .partners-image-container:hover {
    transform: scale(1.5);
  }  